@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientFlow {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 400% 400%;
  animation: gradientFlow 15s ease infinite;
}

.scrolling-posts {
  display: flex;
  flex-direction: column;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
      transform: translateY(0%);
  }
  100% {
      transform: translateY(-50%); /* Adjust based on the height of your posts */
  }
}
