@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientFlow {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 400% 400%;
  animation: gradientFlow 15s ease infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}

.fade-loop {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.fade-loop > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

